h1,h2,h3        { font-family: Verdana, sans-serif; }
body            { font-family: Verdana, "Lucida Sans", Helvetica, Arial, sans-serif; }
body            { background: white; color: black; margin-left: 40px; padding: 0px }
h1:first-child	{ margin-top: 0px }
img             { border: 0px; vertical-align: middle; }
td              { vertical-align: top }
table           { border-spacing: 6px; }
ul              { padding-top: 0px; }
li              {list-style: outside; padding-bottom: 12px}
.right          { text-align: right; }
.center         { text-align: center; }
#footer         { font-size: 70%; padding-top: 20px; }
