    <div id="footer">
      <p class="center">
      IGB is part of the <a href="http://genoviz.sourceforge.net">GenoViz project.</a>
      Source code for IGB is released under the 
      <a href="http://www.opensource.org/licenses/cpl1.0.php">Common Public License, v1.0</a> an 
      <a href="http://www.opensource.org/docs/definition.php">OSI approved</a>
      open source license. IGB uses other open source software packages
      which are covered by their own open source licenses. </p>
      <p class="center">
      IGB is Copyright (c) 2000-2006 Affymetrix, Inc. Research
      and development of IGB is supported in part by NIH grant
      R01HG003040</p> 
      <p class="center">
      <a href="http://sourceforge.net"><img src="http://sourceforge.net/sflogo.php?group_id=129420&amp;type=1" alt="SourceForge.net" /></a>
      &nbsp;
      &nbsp;
      &nbsp;
      <a href="http://www.opensource.org/docs/definition.php"><img src="http://opensource.org/trademarks/osi-certified/web/osi-certified-60x50.jpg" alt="OSI Certified" width="60" height="50" border="0"></a>
      </p>
    </div>
